{
  "branches": [
    { "name": "1.1.x", "range": "1.1.x", "channel": "1.1.x" },
    { "name": "1.3.x", "range": "1.5.x", "channel": "1.3.x" },
    { "name": "master" },
    {"name": "next", "channel": "channel-next" }

  ],
  "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/changelog",
      [
          "@semantic-release/npm",
          {
              "npmPublish": false
          }
      ],
      [
          "@semantic-release/git",
          {
              "assets": [
                  "package.json",
                  "CHANGELOG.md"
              ],
              "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
          }
      ],
      "@semantic-release/github"
  ]
}
